

<div class="container text-center py-4 ">
    <div class="row">
                        <div class="col-xl-2 col-sm-4 col-12 ">
                            <div class=" bg-primary  h-100 ">
                                <div>  

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" style="color: white;font-weight: 500;font-size: large;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        
                                        ĐỀ THI THỬ 
                                    </a>
                                    <ul class="dropdown-menu">
                                    <li><a class="dropdown-item tt" href="#" >TOÁN </a> </li> 
                                    <li><a class="dropdown-item tt" href="#">TIẾNG ANH    </a></li>
                                    <li><a class="dropdown-item tt" href="#">NGỮ VĂN   </a></li>
                                    <li><a class="dropdown-item tt" href="#">VẬT LÝ   </a></li>
                                    <li><a class="dropdown-item tt" href="#">HÓA HỌC  </a></li>
                                    
                                    </ul>
                                </li>

                                </div>



                            </div>

                            <!--  -->
                        </div>

                            <div class="col-xl-2 col-sm-4 col-12">
                                <div class="bg-primary h-100">
                                    
                                    <div>  

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" style="color: white;font-weight: 500;font-size: large;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                
                                                TÀI LIỆU TỔNG HỢP
                                            </a>
                                            <ul class="dropdown-menu ">
                                            <li ><a class="dropdown-item  tt" href="#" >TOÁN </a> </li> 
                                            <li><a class="dropdown-item tt" href="#">TIẾNG ANH    </a></li>
                                            <li><a class="dropdown-item tt" href="#">NGỮ VĂN   </a></li>
                                            <li><a class="dropdown-item tt" href="#">VẬT LÝ   </a></li>
                                            <li><a class="dropdown-item tt" href="#">HÓA HỌC  </a></li>
                                            
                                            </ul>
                                        </li>
                
                                        </div>



                                </div>
                            </div>
                            <!--  -->

                            <div class="col-xl-2 col-sm-4 col-12 ">
                                <div class=" bg-primary h-100">
                                    

                                        <div>
                                            <p  class="text-center pt-4" style="color: white;font-weight: 500;font-size: large;">
                                            ÔN THI HSG
                                            </p>

                                        </div>
                                        
                                    


                                </div>
                            </div>
                            <!--  -->

                            <div class="col-xl-2 col-sm-4 col-12 ">
                                <div class=" bg-primary h-100">
                                        

                                    <div>
                                        <p  class="text-center pt-4" style="color: white;font-weight: 500;font-size: large;">
                                        TUYỂN SINH 2023
                                    </p>

                                </div>

                                </div>
                            </div>
                            <!--  -->

                        <div class="col-xl-2 col-sm-4 col-12 ">
                            <div class=" bg-primary  h-100">
                                
                                
                                <div>
                                    <p  class="text-center pt-4" style="color: white;font-weight: 500;font-size: large;">
                                TÍNH ĐIỂM  TỐT NGHỆP
                                </p>

                            </div>


                            </div>
                        </div>
                            <!--  -->
                        <div class="col-xl-2 col-sm-4 col-12 ">
                            <div class=" bg-primary h-100">
                                
                                <div>
                                    <p  class="text-center pt-4" style="color: white;font-weight: 500;font-size: large;">
                                TÍNH ĐIỂM  HỌC BẠ 
                                </p>

                            </div>

                            </div>
                        </div>
                        <!--  -->

    </div>

    <!-- banner -->
    <div class="row py-3">
            <div class="col-xl-4 col-sm-4 col-4">
                <img src="./IMG/panel-ads-1.png" alt="" width="100%">

            </div>

            <div class="col-xl-4 col-sm-4 col-4">
                <img src="./IMG/panel-ads-2.png" alt="" width="100%">

            </div>

            <div class="col-xl-4 col-sm-4 col-4">
                <img src="./IMG/panel-ads-3.png" alt="" width="100%">

            </div>
            
            
    </div>

        <!--  search -->
    <div class="py-3"> 
        <form class="d-flex" role="search">
            
            <input  class="form-control me-2" type="search" placeholder=" Nhập từ khóa tìm kiếm " aria-label="Search"> 
            
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
    </div>



</div>

<div class="container bg-white border border-secondary-subtle border-2">


<div class="">
    <span class="col-xl-12 col-sm-12 col-12  float-lg-start py-2 " style="font-size:large;font-weight:bolder;">
        ĐỀ THI THỬ 
    </span>
     
    <div class="container  ">
            <div class="row row-cols-5 text-center justify-content-center pb-3 ">

                <div class="col-xl-2 col-12"> 
                    <button class="btn btn-danger border-1 border-danger   " type="button"  style="width: 150px;  font-weight:bold;">Tiếng Anh</button>
                </div>

                <div class="col-xl-2 col-12"> 
                    <button class="btn btn-light border-1 border-danger  hv " type="button"  style="width: 150px;  font-weight:bold;">TOÁN</button>
                </div>

                <div class="col-xl-2 col-12">
                    <button class="btn btn-light border-1 border-danger  hv " type="button"  style="width: 150px;  font-weight:bold;">NGỮ VĂN</button>
                </div>

                <div class="col-xl-2 col-12">
                    <button class="btn btn-light border-1 border-danger  hv " type="button"  style="width: 150px;  font-weight:bold;">VẬT LÝ</button>
                </div>
                    
                <div class="col-xl-2 col-12">
                    <button class="btn btn-light border-1 border-danger  hv " type="button"  style="width: 150px;  font-weight:bold;">HÓA HỌC </button>
                </div>


            </div>


            <div class="border border-secondary-subtle border-2" >
                <div class="row py-3">

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    Đề thi khảo sát chất lượng đầu năm học 2023-2024 môn Tiếng Anh: Đề thực chiến số 1 (Dễ trúng tủ)
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 30/08/2023
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    Đề thi khảo sát chất lượng đầu năm học 2023-2024 môn Tiếng Anh: Đề thực chiến số 2 (Dễ trúng tủ)
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 29/08/2023
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    Đề thi khảo sát chất lượng đầu năm học 2023-2024 môn Tiếng Anh: Đề thực chiến số 3 (Dễ trúng tủ)
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 27/08/2023
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

                <hr>
                <!--  -->

                <div class="row py-3">

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    Đề khảo sát chất lượng đầu năm học 2023-2024 - Đề số 01| Hướng dẫn giải
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 18/08/2023
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    Đề khảo sát chất lượng đầu năm học 2023-2024 - Đề số 02| Hướng dẫn giải
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 11/08/2023
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    Đề khảo sát chất lượng đầu năm học 2023-2024 - Đề số 03| Hướng dẫn giải
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 07/08/2023
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</div>


<!--  ==============================-->




<div class=" py-5 ">
    <span class="col-xl-12 col-sm-12 col-12  float-lg-start py-2 " style="font-size:large;font-weight:bolder;">
        TÀI LIỆU TỔNG HỢP
    </span>
     
    <div class="container  ">
            <div class="row row-cols-5 text-center justify-content-center pb-3 ">

                <div class="col-xl-2 col-12"> 
                    <button class="btn btn-danger border-1 border-danger   " type="button"  style="width: 150px;  font-weight:bold;">Tiếng Anh</button>
                </div>

                <div class="col-xl-2 col-12"> 
                    <button class="btn btn-light border-1 border-danger  hv " type="button"  style="width: 150px;  font-weight:bold;">TOÁN</button>
                </div>

                <div class="col-xl-2 col-12">
                    <button class="btn btn-light border-1 border-danger  hv " type="button"  style="width: 150px;  font-weight:bold;">NGỮ VĂN</button>
                </div>

                <div class="col-xl-2 col-12">
                    <button class="btn btn-light border-1 border-danger  hv " type="button"  style="width: 150px;  font-weight:bold;">VẬT LÝ</button>
                </div>
                    
                <div class="col-xl-2 col-12">
                    <button class="btn btn-light border-1 border-danger  hv " type="button"  style="width: 150px;  font-weight:bold;">HÓA HỌC </button>
                </div>


            </div>

            <div class="border border-secondary-subtle border-2 pb-3">
                <div class="row py-3">

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    Những câu hỏi giới từ trong đề thi chính thức của Bộ giáo dục và đào tạo
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 30/08/2023
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    Những câu hỏi collocation thường gặp trong đề thi(Buổi 2)
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 29/08/2023
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    Từ vựng bám sát chương trình SGK
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 27/08/2023
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

                <hr>
                <!--  -->

                <div class="row py-3">

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    250 câu hỏi từ vựng trọng điểm, dễ xuất hiện trong đề thi(Có đáp án)
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 18/08/2023
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    Đề khảo sát chất lượng đầu năm học 2023-2024 - Đề số 02| Hướng dẫn giải
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 11/08/2023
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12">
                        <div class="row">
                            <div class="col-4">
                                <img src="IMG/tải xuống.png" alt="" width="100%">
                            </div>
                            <div class="col-8">
                                <div>
                                    Hướng tới kì thi THPT 2024:Những câu hỏi collocation thường gặp trong đề thi(Buổi 1)
                                </div>
                                <div>
                                    <i class="bi bi-clock"></i> 07/08/2023
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>



            </div>
            


    </div>


</div>

<!-- =============== -->

<div class="  ">
    <span class="col-xl-12 col-sm-12 col-12  float-lg-start py-2 " style="font-size:large;font-weight:bolder;">
        VIDEO TIẾNG ANH MỚI NHẤT
    </span>
    
    <div class="row">
        <div class="col-6">
            <!-- Thẻ div lớn 1 -->
            
            <img class="course-avatar" src="https://storage.googleapis.com/comaiphuong-edu-media/images/208051696-1672988249477-pro3mplus2025-06.png" width="100%">
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6 pb-2">
                    <!-- Thẻ div nhỏ 1 (trên) -->
                    
                    <img class="course-avatar" src="https://storage.googleapis.com/comaiphuong-edu-media/images/548092893-1672971028114-pro3m-081.png" width="100%">
                </div>
                <div class="col-6 ">
                    <!-- Thẻ div nhỏ 2 (trên) -->
                    <img class="course-avatar" src="https://storage.googleapis.com/comaiphuong-edu-media/images/793924727-1672988023573-pro3mplus2025-01.png" width="100%">
                </div>
                <div class="col-6 pb-2">
                    <!-- Thẻ div nhỏ 3 (dưới) -->
                    <img class="course-avatar" src="https://storage.googleapis.com/comaiphuong-edu-media/images/267251127-1665106773362-group11028.png" width="100%">
                </div>
                <div class="col-6 ">
                    <!-- Thẻ div nhỏ 4 (dưới) -->
                    <img src="https://storage.googleapis.com/comaiphuong-edu-media/images/269001207-1672970774962-pro3mplus-041.png" alt="" width="100%">
                    
                </div>
            </div>
        </div>
    </div>
    

    <div class=" py-5 ">
        <span class="col-xl-12 col-sm-12 col-12  float-lg-start py-2  " style="font-size:large;font-weight:bolder;">
            ĐỀ ÁN TUYỂN SINH 2023
        </span>
         
        <div class="container pt-5 ">
                

                <div class="border border-secondary-subtle border-2 pb-3">
                    <div class="row py-3">

                        <div class="col-xl-4 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img src="IMG/tải xuống.png" alt="" width="100%">
                                </div>
                                <div class="col-8">
                                    <div>
                                        Những câu hỏi giới từ trong đề thi chính thức của Bộ giáo dục và đào tạo
                                    </div>
                                    <div>
                                        <i class="bi bi-clock"></i> 30/08/2023
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img src="IMG/tải xuống.png" alt="" width="100%">
                                </div>
                                <div class="col-8">
                                    <div>
                                        Những câu hỏi collocation thường gặp trong đề thi(Buổi 2)
                                    </div>
                                    <div>
                                        <i class="bi bi-clock"></i> 29/08/2023
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img src="IMG/tải xuống.png" alt="" width="100%">
                                </div>
                                <div class="col-8">
                                    <div>
                                        Từ vựng bám sát chương trình SGK
                                    </div>
                                    <div>
                                        <i class="bi bi-clock"></i> 27/08/2023
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    <hr>
                    <!--  -->

                    <div class="row py-3">

                        <div class="col-xl-4 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img src="IMG/tải xuống.png" alt="" width="100%">
                                </div>
                                <div class="col-8">
                                    <div>
                                        250 câu hỏi từ vựng trọng điểm, dễ xuất hiện trong đề thi(Có đáp án)
                                    </div>
                                    <div>
                                        <i class="bi bi-clock"></i> 18/08/2023
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img src="IMG/tải xuống.png" alt="" width="100%">
                                </div>
                                <div class="col-8">
                                    <div>
                                        Đề khảo sát chất lượng đầu năm học 2023-2024 - Đề số 02| Hướng dẫn giải
                                    </div>
                                    <div>
                                        <i class="bi bi-clock"></i> 11/08/2023
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-12">
                            <div class="row">
                                <div class="col-4">
                                    <img src="IMG/tải xuống.png" alt="" width="100%">
                                </div>
                                <div class="col-8">
                                    <div>
                                        Hướng tới kì thi THPT 2024:Những câu hỏi collocation thường gặp trong đề thi(Buổi 1)
                                    </div>
                                    <div>
                                        <i class="bi bi-clock"></i> 07/08/2023
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>



                </div>
                


        </div>


    </div>

          
            


   


</div>

<!-- ============ -->


</div>