<div class="row">
    <!-- Left -->
  <div class="col-12 col-md-2 col-xl-2">
      <img  class="float-end ms-3 pb-5" src="./IMG/longden-left.png" alt="">
      <img class="float-lg-start pt-5" src="./IMG/dao2-left.png" alt="">
  </div>


  <!-- content -->
  <div class="col-12 col-md-8 col-xl-8  text-center" >
    <!--  -->
      <div class="pt-5 pb-3">
          <h2 style="color: #eb1f3a; font-weight: 700;" >CÁC THÀNH PHẦN XÃ HỘI  </h2>
      </div>
    <!-- Thanh Tab chọn 4 khóa học  -->
    <div class="row  py-1">
            <!-- <div class="col-xl-3 col-sm-6 col-12  px-4">
              <button class="btn btn-light border-1 border-danger  hv " type="button"  style="width: 250px;  font-weight:bold;">COMBO CẤP TỐC 2024</button>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 px-4 ">
              <button class="btn btn-light border-1 border-danger  hv" type="button"  style="width: 250px; font-weight:bold;">PR 3M - MỤC TIÊU 8+ (2024)</button>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 px-4">
              <button class="btn btn-light border-1 border-danger  hv " type="button"  style="width: 250px; font-weight:bold;">PR 3M - MỤC TIÊU 9+ (2024)</button>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 px-4 ">
              <button class="btn btn-light border-1 border-danger  hv" type="button"  style="width: 250px; font-weight:bold;">BỨT PHÁ ĐIỂM THI VÀO 10</button>
            </div> -->
    </div>  

    <!-- Chọn khóa  -->
    <div class="row pt-5 pb-3">
                  <div class="col-xl-3 col-sm-6 col-12  px-4">
                          <div class="border border-1 border-dark-subtle">
                                  <div>
                                    <img class="" src="/RouteCRUD_ASM2/IMG/a1.jpg" width="250px" height="250px">
                                  </div>
                                  <div>
                                      <p> Doanh Nhân Thành Đạt</p>
                                  </div>
                                  <div class="pb-2">
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#buyModal" data-bs-whatever="@mdo">500.000 VND</button>
                                  </div>
                          </div>
                          
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 px-4 ">
                                  <div class="border border-1 border-dark-subtle">
                                    <div>
                                      <img class="" src="/RouteCRUD_ASM2/IMG/a7.jpg" width="250px" height="250px">
                                    </div>
                                    <div>
                                        <p> Doanh Nhân Thành Đạt</p>
                                    </div>

                                    <div class="pb-2">
                                      <!-- <button type="button" class="btn btn-warning ">500.000 VND</button> -->
                                      <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#buyModal" data-bs-whatever="@mdo">500.000 VND</button>
                                      <!--  -->
                                    </div>
                                  </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 px-4">
                                  <div class="border border-1 border-dark-subtle">
                                    <div>
                                      <img class="" src="/RouteCRUD_ASM2/IMG/a8.jpg" width="250px" height="250px">
                                    </div>
                                    <div>
                                        <p> Doanh Nhân Thành Đạt</p>
                                    </div>
                                    <div class="pb-2">
                                      <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#buyModal" data-bs-whatever="@mdo">500.000 VND</button>
                                    </div>
                                  </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 px-4 ">
                                  <div class="border border-1 border-dark-subtle">
                                    <div>
                                      <img class="" src="/RouteCRUD_ASM2/IMG/a12.jpg" width="250px" height="250px">
                                    </div>
                                    <div>
                                        <p> Doanh Nhân Thành Đạt</p>
                                    </div>
                                    <div class="pb-2">
                                      <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#buyModal" data-bs-whatever="@mdo">500.000 VND</button>
                                    </div>
                                  </div>
                  </div>
    </div>  
    <!--  -->
    <div class="row justify-content-center">
                    <div class="col-xl-3 col-sm-6 col-12  px-4 ">
                            <div class="border border-1 border-dark-subtle">
                                  <div >
                                    <img class="" src="/RouteCRUD_ASM2/IMG/a10.jpg" width="250px" height="250px">
                                  </div>
                                  <div>
                                    <p> Doanh Nhân Thành Đạt</p>
                                </div>
                                <div class="pb-2">
                                  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#buyModal" data-bs-whatever="@mdo">500.000 VND</button>
                                </div>
                            </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 px-4 ">
                                <div class="border border-1 border-dark-subtle">
                                  <div >
                                    <img class="" src="/RouteCRUD_ASM2/IMG/a11.jpg" width="250px" height="250px">
                                  </div>
                                  <div>
                                    <p> Doanh Nhân Thành Đạt</p>
                                </div>
                                <div class="pb-2">
                                  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#buyModal" data-bs-whatever="@mdo">500.000 VND</button>
                                </div>
                            </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 px-4">
                                <div class="border border-1 border-dark-subtle">
                                  <div >
                                    <img class="" src="/RouteCRUD_ASM2/IMG/a9.jpg" width="250px" height="250px">
                                  </div>
                                  <div>
                                    <p> Doanh Nhân Thành Đạt</p>
                                </div>
                                <div class="pb-2">
                                  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#buyModal" data-bs-whatever="@mdo">500.000 VND</button>
                                </div>
                            </div>
                    </div>
     </div>  
<!--  -->
    <div class="row ">
          <div class="col-xl-12 col-sm-12 col-12 pt-5">
            <button class="btn btn-danger" type="button" style="width: 300px; height: 80px;">MUA COMBO</button>
          </div>
    </div>
    <!--  -->
    <div class="pt-5 pb-3">
      <h2 style="color: #eb1f3a; font-weight: 700;" > Giang Hồ Mạng </h2>
    </div>
    <!--  -->



    <!-- Thanh 2 khóa col-xl-3 col-sm-6 col-12  -->

    <div class="row py-1">
      <!-- <div class="col-xl-6 col-sm-6 col-12 ps-5">
        <button class="btn btn-light border-1 border-danger  hv " type="button"  style="width: 250px;  font-weight:bold;">COMBO CẤP TỐC 2025</button>
      </div>
      <div class="col-xl-6 col-sm-6 col-12 pe-5">
        <button class="btn btn-light border-1 border-danger  hv" type="button"  style="width: 250px; font-weight:bold;">PR 3M - MỤC TIÊU 8+ (2025)</button>
      </div> -->

    <!--  col-xl-3 col-sm-6 col-12-->

    <div class="row pt-5 pb-3">
          <div class="col-xl-3 col-sm-6 col-12 px-4 ">
                  <div class="border border-1 border-dark-subtle">
                    <div >
                      <img class="" src="/RouteCRUD_ASM2/IMG/a15.jpg" width="250px" height="250px">
                    </div>
                    <div>
                      <p> Doanh Nhân Thành Đạt</p>
                  </div>
                  <div class="pb-2">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="@mdo">500.000 VND</button>
                  </div>
                  </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 px-4">
                    <div class="border border-1 border-dark-subtle">
                      <div >
                        <img class="" src="/RouteCRUD_ASM2/IMG/a14.jpg" width="250px" height="250px">
                      </div>
                      <div>
                        <p> Doanh Nhân Thành Đạt</p>
                    </div>
                    <div class="pb-2">
                      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="@mdo">500.000 VND</button>
                    </div>
                    </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 px-4">
                      <div class="border border-1 border-dark-subtle">
                        <div >
                          <img class="" src="/RouteCRUD_ASM2/IMG/a18.jpg" width="250px" height="250px">
                        </div>
                        <div>
                          <p> Doanh Nhân Thành Đạt</p>
                      </div>
                      <div class="pb-2">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="@mdo">500.000 VND</button>
                      </div>
                      </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 px-4 ">
                      <div class="border border-1 border-dark-subtle">
                        <div >
                          <img class="" src="/RouteCRUD_ASM2/IMG/a16.jpg" width="250px" height="250px">
                        </div>
                        <div>
                          <p> Doanh Nhân Thành Đạt</p>
                      </div>
                      <div class="pb-2">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="@mdo">500.000 VND</button>
                      </div>
                      </div>
          </div>
    </div>  
    <!--  col-xl-3 col-sm-6 col-12-->
    <div class="row pt-5 pb-3">
      <!-- <div class="col-xl-3 col-sm-6 col-12  px-4 ">
                      <div class="border border-1 border-dark-subtle">
                        <div >
                          <img class="" src="https://storage.googleapis.com/comaiphuong-edu-media/images/132347501-1672988492751-pro3mplus2025-4.png" width="250px" height="250px">
                        </div>
                        <div>
                          <p> Doanh Nhân Thành Đạt</p>
                      </div>
                      <div class="pb-2">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="@mdo">500.000 VND</button>
                      </div>
                      </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 px-4 ">
        <div class="border border-1 border-dark-subtle">
                      <div >
                        <img class="" src="https://storage.googleapis.com/comaiphuong-edu-media/images/132347501-1672988492751-pro3mplus2025-4.png" width="250px" height="250px">
                      </div>
                      <div>
                        <p> Doanh Nhân Thành Đạt</p>
                    </div>
                    <div class="pb-2">
                      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="@mdo">500.000 VND</button>
                    </div>
                    </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 px-4">
        <div class="border border-1 border-dark-subtle">
                    <div >
                      <img class="" src="https://storage.googleapis.com/comaiphuong-edu-media/images/132347501-1672988492751-pro3mplus2025-4.png" width="250px" height="250px">
                    </div>
                    <div>
                      <p> Doanh Nhân Thành Đạt</p>
                  </div>
                  <div class="pb-2">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="@mdo">500.000 VND</button>
                  </div>
                  </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 px-4 ">
                  <div class="border border-1 border-dark-subtle">
                    <div >
                      <img class="" src="https://storage.googleapis.com/comaiphuong-edu-media/images/132347501-1672988492751-pro3mplus2025-4.png" width="250px" height="250px">
                    </div>
                    <div>
                      <p> Doanh Nhân Thành Đạt</p>
                  </div>
                  <div class="pb-2">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyModal2" data-bs-whatever="@mdo">500.000 VND</button>
                  </div>
                  </div>
      </div> -->
    </div>  
    <!--  -->
    <div class="row ">
      <div class="col-xl-12 col-sm-12 col-12 pt-5">
        <button class="btn btn-danger" type="button" style="width: 300px; height: 80px;">MUA COMBO</button>
      </div>
    </div>

    </div>  

</div>


  <!-- Right  col-12 col-md-2 col-xl-2-->
  <div class="col-12 col-md-2 col-xl-2 float-start">
      <img  class="float-start me-3 pb-5" src="./IMG/longden-right.png" alt="">

      <img  class="float-lg-end pt-5" src="./IMG/dao2-right.png" alt="">
  </div>


  <!--  -->

  <!--  -->


</div>

<!--  -->







<div class="row">
  <!-- Left col-12 col-md-2 col-xl-2-->
          <div class="col-12 col-md-2 col-xl-2 ">

              <img  class="float-end ms-3 pb-5" src="./IMG/be-gai.png" alt="" width="250px" height="250px">
              <img  class="float-start ms-3 pb-5" src="./IMG/mai-left.png" alt="">
              <img class="float-end ms-3 pb-5" src="./IMG/betrai.png" alt="">
              <!-- <img class="float-lg-start pt-5" src="./IMG/dao2-left.png" alt=""> -->
          </div>


<!-- content -->
          <div class="col-12 col-md-8 col-xl-8 text-center " >
                      
              <!--  -->
                  <div class="pt-5 pb-3">
                        <h2 style="color: #eb1f3a; font-weight: 700;" >CÁC KHOÁ LUYỆN THI 2024</h2>
                  </div>
              <!--  -->

              <div class=" container justify-content-center">

                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="./IMG/00.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="./IMG/01.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="./IMG/02.png" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                </div>

                <!--  -->

                <div class="pt-5 pb-3">
                  <u style="color: #eb1f3a;">
                      <h2 style="color: #eb1f3a; font-weight: 700;" >CÁC TIỆN ÍCH HỌC ONLINE</h2> 
                  </u>  
                </div>
                <!--  -->

                <div class="pb-3 ">
                  Chỉ là cách học đơn giản và vui vẻ nhất mà bạn từng biết đến thôi mà, cùng điểm qua có gì hot nhé!
                </div>

                <!--  -->

                <div class="row px-5">
                  <div class="col col-md-4">
                            <div>
                                      <img src="./IMG/icon1.png" alt="">
  
                                      <p> Học từ vựng hiệu quả với Flash card độc quyền.</p>
                            </div>
                  </div>
                  <div class="col col-md-4">
                            <div>
                                      <img src="./IMG/icon2.png" alt="">
  
                                      <p> Luôn được hỗ trợ nhanh nhất bởi đội ngũ chuyên môn giỏi, nhiệt...</p>
                            </div>
                  </div>
                  <div class="col col-md-4">
                            <div>
                              <img src="./IMG/icon3.png" alt="">
  
                              <p> Xem và tương tác với giáo viên qua livestream.</p>
                            </div>
                  </div>
  
                </div>


                <!--  -->


                <div class="row px-5">
                  <div class="col col-md-4">
                            <div>
                                      <img src="./IMG/icon4.png" alt="">
  
                                      <p> Nội dung khóa học luôn được cập nhật theo xu hướng ra đề.</p>
                            </div>
                  </div>
                  <div class="col col-md-4">
                            <div>
                                      <img src="./IMG/icon5.png" alt="">
  
                                      <p> Nhắc nhở lịch học hằng ngày.</p>
                            </div>
                  </div>
                  <div class="col col-md-4">
                            <div>
                              <img src="./IMG/icon6.png" alt="">
  
                              <p> Thống kê chi tiết thời gian, nội dung học.</p>
                            </div>
                  </div>
                  
                </div>

          </div>


<!-- Right col-12 col-md-2 col-xl-2-->
            <div class="col-12 col-md-2 col-xl-2 float-start">
                <img  class="float-end ms-3 pb-5" src="./IMG/be-trai.png" alt="" width="250px" height="250px">
                <img  class="float-end me-3 pb-5" src="./IMG/mai-right.png" alt="">

                <img  class="float-end ms-3 pb-5" src="./IMG/begai.png" alt="" >
            </div>



            <!-- model -->

            <!-- From Modal -->
           <!-- Modal -->
           <div class="modal fade" id="DangKy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Đăng Ký</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="card ">

                        <div class="card-header fw-semibold">
                          <i class="bi bi-person-circle"></i>THÔNG TIN TÀI KHOẢN
                        </div>
              
                        <div class="card-body">
                          <form class="row g-3">
                            <div class="col-md-6">
                              <label for="inputEmail" class="form-label fw-semibold">Email</label>
                              <input type="text" class="form-control" id="inputEmail">
                            </div>
                            <div class="col-md-6">
                              <label for="inputName4" class="form-label fw-semibold">Họ Và Tên</label>
                              <input type="text" class="form-control" id="inputName4">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAdd" class="form-label fw-semibold">Địa Chỉ</label>
                                <select id="inputAdd" class="form-select">
                                  <option selected>Hà Nội</option>
                                  <option>Thái Nguyên</option>
                                  <option>Huế </option>
                                  <option>Hồ Chí Minh</option>
                                </select>
                              </div>
                            <div class="col-6">
                              <label for="inputPhone" class="form-label fw-semibold">Số Điện Thoại</label>
                              <input type="text" class="form-control" id="inputPhone" >
                            </div>
                            <div class="col-md-6">
                              <label for="inputDate" class="form-label fw-semibold">Mật Khẩu</label>
                              <input type="password" class="form-control" id="inputDate">
                            </div>
                            
                            <div class="col-md-6">
                              <label for="inputPC" class="form-label fw-semibold">Nhập Lại Mật Khẩu</label>
                              <input type="password" class="form-control" id="inputPC">
                            </div>
              
                            
                                
                            </div>
                            <div class="col-md-12 ms-3 mb-3">
                              <button type="button" class="btn btn-success"> <i class="bi bi-floppy"></i> Đăng Ký </button>
                              <button type="button" class="btn btn-primary"  data-bs-dismiss="modal"> </i> Đăng Ký Bằng  <i class="bi bi-facebook"></i> </button>
                              <button type="button" class="btn btn-danger"  data-bs-dismiss="modal"> <i class="bi bi-stop-fill"></i> Hủy</button>
                              

                            </div>
                          </form>  
                          
                          <!-- <div class="card-footer fw-semibold ">
                            <i class="bi bi-box-arrow-up-left"></i>Vui lòng nhập thông tin cầu thủ
                          </div> -->
                        </div>
                      </div>

                </div>
                <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
            </div>
        </div>


        <!--  -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Đăng Nhập </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email@:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Mật Khẩu:</label>
            <input type="password" class="form-control" id="password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Đăng Nhập </button>
      </div>
    </div>
  </div>
</div>





<!-- Buy combo 1 -->

<div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Lệnh Truy Nã</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <img class="course-avatar" src="/RouteCRUD_ASM2/IMG/a20.jpg" width="250px" height="250px">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <div>
                    <i class="bi bi-tags-fill" style="color: orangered; font-weight: bolder; font-size: xx-large;"></i>
                    <span style="color: orangered; font-weight: bolder; font-size: xx-large;">500.000 VND</span>
                </div>
                <div class="pt-5">
                    <i class="bi bi-people-fill" style="font-size: large;"></i>
                    <span style="font-size: large;">Tên: Do Nguyen Dang Hung</span>
                </div>
                <div class="">
                    <i class="bi bi-file-person-fill" style="font-size: large;"></i>
                    <span style="font-size: large;">Tuổi: 20</span>
                </div>
                <div class="">
                    <i class="bi bi-translate" style="font-size: large;"></i>
                    <span style="font-size: large;">Ngôn ngữ: Tiếng Người  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                    <div>
                        Cháu Phạm tội ...../àdmhsadfgblasfjhlcvasvsbdflkj
                    </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center custom-modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Mua Khóa Học</button>
      </div>
    </div>
  </div>
</div>



<!-- Buy combo 2 -->

<div class="modal fade" id="buyModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Ngữ pháp tinh gọn 2024</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <img class="course-avatar" src="/RouteCRUD_ASM2/IMG/a3.jpg" width="250px" height="250px">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <div>
                    <i class="bi bi-tags-fill" style="color: yellowgreen; font-weight: bolder; font-size: xx-large;"></i>
                    <span style="color: yellowgreen; font-weight: bolder; font-size: xx-large;">500.000 VND</span>
                </div>
                <div class="pt-5">
                    <i class="bi bi-people-fill" style="font-size: large;"></i>
                    <span style="font-size: large;">Tổng số học viên: 5418 Học viên</span>
                </div>
                <div class="">
                    <i class="bi bi-file-person-fill" style="font-size: large;"></i>
                    <span style="font-size: large;">Số bài học: 23</span>
                </div>
                <div class="">
                    <i class="bi bi-translate" style="font-size: large;"></i>
                    <span style="font-size: large;">Ngôn ngữ: Tiếng Việt</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                    <div>
                      Khóa học tổng hợp tất cả kiến thức Ngữ pháp trong Tiếng Anh giúp các em tự tin dành trọn điểm câu hỏi Ngữ pháp trong các đề thi (THPT, ĐGNL, ĐG tư duy), TOEIC, IELTS....
                    </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center custom-modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Mua Khóa Học</button>
      </div>
    </div>
  </div>
</div>